body section.filters {
  background-color: white;
  height: 70px;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: #DDDDDD;
  display: flex;
  align-items: center;
}
body section.filters button.desktop {
  background-color: #FF5A5F;
  height: 48px;
  width: 20%;
  border-radius: 4px;
  font-size: 18px;
  color: #FFFFFF;
  margin-right: 20px;
  display: flex;
  margin-left: auto;
  justify-content: center;
}

body section.filters button.mobile {
  border-color: #FF5A5F;
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 20px;
  border-width: 4px;
  margin-right: 20px;
  display: none;
  margin-left: auto;
  margin-right: 10px;
}

body section.filters button div {
  background: url(../images/icon.png);
  background-position: right;
  background-repeat: no-repeat;
  /* visibility: hidden; */
}

body section.filters button:hover {
  opacity: 0.9;
}
body section.filters div.locations {
  height: 100%;
  width: 25%;
  border-right-style: solid;
  border-right-width: 1px;
  border-color: #DDDDDD;
  float: left;
  padding-left: 40px;
  position: relative;
}
/* general setting for popover for both locations and amenities */
body section.filters ul.popover {
  width: 100%;
  visibility: hidden;
  background-color: #FAFAFA;
  border-color: #DDDDDD;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  display: grid;
  position: relative; /* this is just for the popover lay above other */
  z-index: 1;
}
/* positioning the popover of locations in right location */
div.locations ul.popover {
  margin: 0px;
  margin-left: -40px;
  padding-left: 40px;
  padding-bottom: 30px;
}
div.locations:hover ul.popover {
    visibility: visible;
}
div.locations ul.popover li {
  margin-left: -20px;
  list-style-type: none;
}
div.amenities {
  height: 100%;
  width: 25%;
  display: grid;
  padding-left: 40px;
}
/* positioning the popover of Aminities in right location */
div.amenities ul.popover {
  margin: 0px;
  padding-left: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: -40px;
  list-style-type: none;
}
div.amenities:hover ul.popover {
  /* padding-top: 10px; */
  visibility: visible;
}
/* positioning location of h2 tag in locations */
ul.popover h2 {
  margin: 0px;
  margin-top: 20px;
}
/* positioning location of item in list */
body section.filters ul li {
  padding-top: 10px;
  margin-left: -20px;
}
body section.filters h3 {
  font-weight: 600;
  margin-top: 11px;
  margin-bottom: 5px;
}
body section.filters h4 {
  font-size: 14px;
  font-weight: 400;
  margin-top: 0px;
}

@media screen and (max-width: 500px) {
  body section.filters {
    height: 50px;
  }
  body section.filters h4 {
    display: none;
  }

  body section.filters div.locations {
    width: 35%;
  }

  body section.filters div.amenities {
    width: 35%;
  }

  body section.filters button.desktop {
    display: none;
  }
  body section.filters button.mobile {
    display: inline-block;
  }


}
